.rectwarning {
  fill: rgb(255, 120, 120);
}

#mapid {
  width: 800px;
  height: 400px;
}

.container {
  float: left;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  visibility: hidden;
  background-color: white;
  border: solid;
  border-width: 1px;
} 
